<nav aria-label="Primary navigation">
  <ul>
    <li class="og"><a href="/" aria-label="Home">🏠</a></li>
    <li><a href="/about.html">about</a></li>
    <li><a href="/work.html">hire me</a></li>
    <li><a href="/blog.html">posts</a></li>
    <li><a href="/projects.html">projects</a></li>
  </ul>
</nav>
